<div class="container">
  <div class="row">
    <div class="col-8">
      <p><strong><%= track.title %></strong>: <%= track.artist %></p>
      <%= image_tag 'drag.svg', class: :sequence_drag_song %>
      <%= link_to '', sequence_shuffle_a_track_path(sequence, track), class: :btn_shuffle_song, style: "background:url(#{image_path 'cta_shuffle_song.svg'})", data: {turbo_method: :shuffle} %>
    </div>
  </div>
</div>
