<div class="container"></div>
  <h1>Mes sessions</h1>
    <ul>
      <% @sessions.each do |session| %>
    <li><%= link_to "#{session.name}", session %></li>
      <% end %>
    </ul>
  <button type="button"  class="btn btn-dark"><%= link_to 'Créer une session', new_session_path(@session) %></button>
</div>
