<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="titre-page">Mon Player</p>
      <div data-controller="player" data-player-target="tracks" data-player-track-ids-value="<%= @music_session.tracks.map(&:track_source_id) %>">
      </div>
    </div>
  </div>
</div>
