<div class="container">
  <div class="card-session">
    <img src=https://picsum.photos/200/300/>
    <div class="card-trip-infos">
        <h1><%= @session.name %></h1>
          <h2>Description</h2>
            <p><%= @session.description %></p>
          <h2>Catégorie</h2>
            <p><%= @session.category %></p>
          <h2>Temps</h2>
            <p>32mn</p>
        <button type="button"  class="btn btn-dark">Jouer ma session</button>
        <button type="button"  class="btn btn-dark"><%= link_to 'Mes sessions', sessions_path(@session) %></button>
    </div>
  </div>
</div>
