.accordion-cards {
  background: #E7E7E7;
  border-bottom: 2px solid #EE9B00;
  border-radius: 8px;
  margin-bottom: 4px;
}

.accordion-header {
  padding: 25px 0;
  position: relative;
  h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 6px;
  }
  p {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #001219;
  }
}

.accordions-content {
  padding: 20px;
  background: #E9D8A6;
  border-radius: 0px 0px 8px 8px;
  p {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #001219;
  }
  a {
    text-decoration: none;
    color: #001219;
  }
}

.rotation_icons {
  transition-duration: 0.2s, 0.2s;
  color: #999999;
}

.rotation_icons:hover {
  color: #001219;
}

.rotation_icons:active {
  color: #001219;
  transform: rotate(45deg);
}

.rotation_icons:focus {
  color: #001219;
  transform: rotate(45deg);
}
