.buttons-navigation {
  position: relative;
}

.btn_home_black {
  display: block;
  margin: 0 auto;
  background: #001219;
  padding: 12px 40px;
  border-bottom: 4px solid #E9D8A6;
  border-radius: 12px;
  font-family: "barlow", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.btn_home_yellow {
  background: #EE9B00;
  padding: 12px 40px;
  border-bottom: 4px solid #001219;
  border-radius: 12px;
  font-family: "barlow", sans-serif;
  color: #001219;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.btn_next {
  position: absolute;
  left: 39%;
  margin: 0 auto;
  border: none;
  width: 78px;
  height: 78px;
}

.btn_modifier_sequence {
  position: absolute;
  left: 30%;
  margin: 5px auto 0 auto;
  border: none;
  width: 58px;
  height: 58px;
}

.btn_supprimer_sequence {
  position: absolute;
  left: 52%;
  margin: 5px auto 0 auto;
  border: none;
  width: 58px;
  height: 58px;
}

.btn_ajouter {
  position: absolute;
  left: 40%;
  margin: 0 auto;
  border: none;
  width: 78px;
  height: 78px;
}

.btn_shuffle_song {
  position: absolute;
  right: 52%;
  margin: 5px auto 0 auto;
  border: none;
  width: 16px;
  height: 16px;
}
