.titre-page {
  margin-top: 22px;
  font-size: 22px;
  font-family: "barlow", sans-serif;
  font-weight: bold;
  color: #001219;
  text-transform: uppercase;
}

.form-connexion {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: "barlox", sans-serif;
  color: #001219;
}

.ou {
  hr {
    width: 100%;
    margin: 20px 0px;
    flex: 1 1 0%;
    border-top: 1px solid rgb(217, 218, 220);
  }
  p {
    text-align: center;
  }
  span {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    background-color: #FFFFFF;
  }
}

.connect-links {
  margin-top: 0px;
  a {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-family: "barlow", sans-serif;
    color: #001219;
    transition: all 0.3s ease-out;
    color: #001219;
  }
  a:hover {
    color: #EE9B00;
  }
}

.player {
  height: 60vh;
}
