
.user {
color: #fff;
vertical-align: bottom;
margin-top: 16px;
font-family: Barlow, sans-serif;
}

nav {
background-color: #001219;
height: 120px;
font-family: Barlow, sans-serif;
text-decoration: none;
}

.navbar-nav {
  background-color: #001219;
}

#logo {
margin-bottom: 64px;
}

.nav-item > a {
  text-decoration: none;
}
