.user {
color: #fff;
vertical-align: bottom;
margin-top: 16px;
font-family: "Barlow", sans-serif;
}

.menu-burger, .menu-burger:active, .menu-burger:focus {
  border: none !important;
}

nav {
background-color: #001219;
height: 120px;
font-family: "Barlow", sans-serif;
text-decoration: none;
}

.navbar-nav {
  background-color: #001219;
}

#logo {
// margin-bottom: 64px;
}

.nav-item {
  padding: 20px;
  a {
    text-decoration: none;
  font-family: "barlow", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 26px;
  }

}
