.track-content {
  padding: 8px;
  background: #FBFBFB;
  border-radius: 8px;
  margin-bottom: 4px;
  border-left:  #EE9B00;
}

.infos-track {
  p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.thumb-img-spotify {
  border-radius: 6px;
}
